header{
  position: relative;
}
header .logo{
    font-weight: 600;
    font-size: 24px;
  }
  .nav{
    font-weight: 400;
    list-style-type: none;
    display: flex;
    gap: 10px;
    justify-content: end;
    cursor: pointer;
    margin-right: 60px;
  }
  .nav li:hover{
    font-weight: 600;
    transform: scale(1.1,1.1);
    transition: all 1000ms;
  }
  .shopButton{
    position: absolute;
    right: 20px;
    top: 32px;
    cursor: pointer;
    transition: color,transform 500ms ease;
    }
  .shopButton:hover,
  .shopButton.active{
    color: #dc3d3d;
    transform: scale(1.5);
  }
  header .shopCart{
    position: absolute;
    top: 50px;
    right: 0;
    width: 450px;
    min-height: 100px;
    background-color: aqua;
    z-index: 10;
  }
  .presentation{
    margin: 50px 0;
    background: url('../img/home-design.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;
}
.presentation::after{
    width: 300px;
    color: #fff;
    content: 'The best product for your house';
    position: absolute;
    top: 60px;
    left: 30px;
    font-weight: 600;
    font-size: 40px;
}
.presentation::before{
    color: #ffffff;
    content: 'on sale';
    position: absolute;
    top: 205px;
    left: 30px;
    font-weight: 400;
    font-size: 20px;
}
